<div id="inicio"></div>
<header class="w-full px-[9%] py-4 mt-5 absolute top-0 left-0 bg-transparent drop-shadow-lg flex justify-between items-center z-50 max-[995px]:relative max-[995px]:h-[120px] max-[995px]:overflow-visible max-[995px]:px-4">
  <h1 
  class="animate__animated animate__bounceInLeft text-2xl text-blue-600 font-extrabold cursor-pointer font-serif hover-scale-h1 active:scale-95">
    Emilio.dev
  </h1>
  <nav class="flex gap-16 text-white text-[1.8rem] font-medium max-[995px]:flex-col max-[995px]:gap-2 max-[995px]:absolute max-[995px]:top-3 max-[995px]:right-3">
    <a href="#" class="border-b-[2px] border-transparent text-semi-dark-blue hover-scale active:scale-95 hover-underline-purple text-[14px]">Inicio</a>
    <a href="#services" class="border-b-[2px] border-transparent hover-scale active:scale-95 hover-underline-purple text-[14px]">Servicios</a>
    <a href="#skills" class="border-b-[2px] border-transparent hover-scale active:scale-95 hover-underline-purple text-[14px]">Habilidades</a>
    <a href="#proyectos" class="border-b-[2px] border-transparent hover-scale active:scale-95 hover-underline-purple text-[14px]">Experiencia</a>
  </nav>
  <div id="contact-popup" class="hidden fixed top-[80px] right-5 bg-[#1a1a3d] border-2 border-violet-600 rounded-xl p-4 flex-col gap-4 z-[1001]">
    <a href="mailto:e491339491339@gmail.com" target="_blank" class="bg-[#2a0458] text-white px-4 py-2 rounded-md hover:bg-purple-800 hover:shadow-[0_0_10px_blueviolet] transition">Gmail</a>
    <a href="https://wa.me/53375206" target="_blank" class="bg-[#2a0458] text-white px-4 py-2 rounded-md hover:bg-purple-800 hover:shadow-[0_0_10px_blueviolet] transition">WhatsApp</a>
    <a href="https://instagram.com/tuusuario" target="_blank" class="bg-[#2a0458] text-white px-4 py-2 rounded-md hover:bg-purple-800 hover:shadow-[0_0_10px_blueviolet] transition">Instagram</a>
  </div>
</header>

<style>
  .hover-scale {
    transition: transform 0.3s ease;
  }
  .hover-scale:hover {
    transform: scale(1.2);
    transform: translateX(-12px);
  }
  .hover-scale-h1 {
    transition: transform 0.3s ease;
  }
  .hover-scale-h1:hover {
    transform: scale(1.1);
  }

  .hover-underline-purple {
    transition: all 0.3s ease;
  }

  .hover-underline-purple:hover {
    color: rgb(87, 6, 192);
    border-bottom: 2px solid rgb(87, 6, 192);
  }
</style>