<header class="mt-5 absolute top-0 left-0 w-full px-[9%] py-4 bg-transparent drop-shadow-lg flex justify-between items-center z-50">
  <a 
    href="#" 
    class="text-3xl text-blue-900 font-extrabold font-serif transition-transform duration-500 ease-in-out hover:scale-110 cursor-pointer"
  >
    Emilio
  </a>
  <nav class="flex gap-16 text-white text-xl font-medium">
    <a 
      href="#" 
      class="transition-all duration-300 border-b-4 border-transparent hover:text-purple-800 hover:border-purple-800 text-purple-800"
    >
      Home
    </a>
    <a 
      href="#services" 
      class="transition-all duration-300 border-b-4 border-transparent hover:text-purple-800 hover:border-purple-800"
    >
      Services
    </a>
    <a 
      href="#skills" 
      class="transition-all duration-300 border-b-4 border-transparent hover:text-purple-800 hover:border-purple-800"
    >
      Skills
    </a>
    <a 
      href="#proyectos" 
      class="transition-all duration-300 border-b-4 border-transparent hover:text-purple-800 hover:border-purple-800"
    >
      Experience
    </a>
    <a 
      href="#" 
      class="transition-all duration-300 border-b-4 border-transparent hover:text-purple-800 hover:border-purple-800"
    >
      Contact
    </a>
  </nav>
  <div id="contact-popup" class="hidden flex-col gap-2 text-white text-lg">
    <a href="mailto:e491339491339@gmail.com" target="_blank">Gmail</a>
    <a href="https://wa.me/53375206" target="_blank">WhatsApp</a>
    <a href="https://instagram.com/tuusuario" target="_blank">Instagram</a>
  </div>
</header>