<section class="home flex flex-col md:flex-row justify-center items-center gap-32 px-[9%] py-20 bg-dark-blue text-wheat max-[995px]:flex-col max-[995px]:mt-2 max-[995px]:px-4">
  <div class="home-img w-[50vw] max-w-[390px] rounded-full overflow-hidden max-[995px]:w-52 max-[995px]:aspect-[1/1] aspect-[1/1]">
    <img
      src="/img/yo.webp"
      alt="Me"
      class="w-full h-full object-cover rounded-full"
    />
  </div>

  <div class="home-content text-center md:text-left space-y-4">
    <h1 class="text-6xl font-bold leading-tight font-[PixelifySans] text-white/80 max-[995px]:text-4xl mt-32 max-[995px]:mt-1">
      Hey ! soy <span class="text-blue-500">Emilio</span>
    </h1>

    <h3 class="reveal animate-reveal2 text-white/80 text-4xl font-bold text-wheat max-[995px]:text-3xl">
      Soy un desarrollador <span class="text-cyan-300">Frontend</span>
    </h3>

    <p class="text-white/90 text-xl font-sans text-left max-[995px]:text-[16px]">
      apasionado por el
      <span class="text-pink-500">diseño web</span> y la <span class="text-yellow-300">programación</span>.
      Tengo experiencia creando interfaces limpias, accesibles y funcionales, con enfoque en rendimiento,
      usabilidad y estética.
    </p>

        <!--WhatsApp -->

    <div class="social-icons flex justify-center md:justify-start gap-6 mt-4">
      <a 
          title="whatsApp"
          href="https://wa.me/53375206" class="w-11 h-11 flex items-center justify-center border-2 border-violet-900 text-white rounded-full icon-hover transition">
        <svg
          width="24" 
          height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
          <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
        </svg>
      </a>
        
        <!--Gmail-->
        
      <a 
        title="Email"
        href="mailto:kei.hexcode@gmail.com" class="w-11 h-11 flex items-center justify-center border-2 border-violet-900 text-white rounded-full icon-hover transition">
        <svg
          width="24" 
          height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
          <path d="M3 6l9 6l9 -6" />
          <path d="M15 18h6" />
          <path d="M18 15l3 3l-3 3" />
        </svg>
      </a>

          <!--Instagram -->

      <a 
        title="Instagram"
        href="https://www.instagram.com/e993142?igsh=MXYyOXYzdHM5em5mYg==" class="w-11 h-11 flex items-center justify-center border-2 border-violet-900 text-white rounded-full icon-hover transition">
        <svg
          width="24" 
          height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8" />
          <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M16.5 7.5v.01" />
        </svg>
      </a>

          <!--LinkedIn -->

      <a 
        title="linkedin"
        href="https://www.linkedin.com/in/iam-body-3089513a4?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="w-11 h-11 flex items-center justify-center border-2 border-violet-900 text-white rounded-full icon-hover transition">
        <svg 
          width="24" 
          height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor"
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M8 11v5" />
          <path d="M8 8v.01" />
          <path d="M12 16v-5" />
          <path d="M16 16v-3a2 2 0 1 0 -4 0" />
          <path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4l0 -10" />
        </svg>
      </a>

        <!--GitHub-->

      <a 
        title="GutHub"
        href="https://github.com/hexvibes-dev" class="w-11 h-11 flex items-center justify-center border-2 border-violet-900 text-white rounded-full icon-hover transition">
      <svg 
        width="24" 
        height="24" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="1" 
        stroke-linecap="round" 
        stroke-linejoin="round"><path 
        stroke="none" d="M0 0h24v24H0z" 
        fill="none"/>
        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
      </svg>
      </a>
    </div>

    <a 
      title="Contactame por WhatsApp"
      href="https://wa.me/53375206" class="reveal-buttom animate-reveal-buttom inline-block mt-6 px-7 py-3 bg-dark-blue-o rounded-full text-xl tracking-tight font-semibold border-2 border-violet-600 text-white contact-hover transition">
      Contáctame
    </a>
  </div>
</section>

<style>
  .reveal-buttom{
    animation-timeline: view();
    animation-range: entry 20% cover 20%;
  }
  .reveal{
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
  .icon-hover {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.28s ease, background-color 0.28s ease, box-shadow 0.28s ease;
  }
  .icon-hover:hover {
    background-color: rgb(42, 4, 88);
    transform: translateY(-4px) scale(1.1);
    box-shadow: 0 0 22px rgba(59, 130, 246, 0.6); 
  }

  .contact-hover {
    transition: transform 0.28s ease, background-color 0.28s ease, box-shadow 0.28s ease, color 0.28s ease;
  }
  .contact-hover:hover {
    background-color: rgb(87, 6, 192);
    color: cornsilk;
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(124, 58, 237, 0.6);
  }
</style>