<section id="skills" class="py-12 px-6 bg-[#15032B] border-2 border-purple-800 rounded-2xl text-white">
  <div class="container-t text-center space-y-6">
    <h2 class="text-5xl font-bold font-sans text-white cursor-pointer transition-transform duration-500 skill-title">
      Skills:
    </h2>
    <ul class="text-2xl space-y-4">
      <li class="text-cyan-300 font-bold border-b-4 border-transparent skill-item">HTML</li>
      <li class="text-cyan-300 font-bold border-b-4 border-transparent skill-item">CSS</li>
      <li class="text-cyan-300 font-bold border-b-4 border-transparent skill-item">JavaScript</li>
      <li class="text-cyan-300 font-bold border-b-4 border-transparent skill-item">Astro</li>
      <li class="text-cyan-300 font-bold border-b-4 border-transparent skill-item">Tailwind css</li>
    </ul>
  </div>
</section>

<style>
  .skill-title {
    transition: transform 0.5s ease;
  }
  .skill-title:hover {
    transform: scale(1.1);
  }

  .skill-item {
    transition: all 0.3s ease;
  }
  .skill-item:hover {
    color: white;
    transform: scaleX(1.1);
    border-bottom-color: rgb(147, 51, 234); 
  }
</style>