---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portfolio de desarrollador Web Fronted expecializado en crear interfaces limpias y atractivas" />
    <meta name="author" content="Emi.dev" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#1e1e2e" />
    <meta name="generator" content="Astro" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />

    <!-- Open Graph -->
    <meta property="og:title" content="Porfolio-dev | Emi.dev" />
    <meta property="og:description" content="Portfolio de desarrollador Web Fronted expecializado en crear interfaces limpias y atractivas" />
    <meta property="og:image" content="/img/og-portfolio.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Porfolio-dev | Emi.dev" />
    <meta name="twitter:description" content="Portfolio de desarrollador Web Fronted expecializado en crear interfaces limpias y atractivas" />
    <meta name="twitter:image" content="/img/og-portfolio.jpg" />

    <title>Porfolio-dev</title>
  </head>
  <body class="bg-dark-blue" >
    <div>
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
</style>